{% extends 'patient_page.html' %}
{% block content %}
{% load static %}
    <div class="breadcumb-area bg-img gradient-background-overlay " style="background-image: url({% static 'img/bg-img/breadcumb2.jpg'%});height:700px;">
        <br><br><br><br>
        <div class="medilife-book-an-appoinment-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="appointment-form-content">
                        <center>
                            {% for m in messages %}
                              <p style="font-size:20px;text-transform:uppercase;"><i>{{m}}</i></p>
                            {% endfor %}
                        </center><br>
                        <center><h2 style="text-transform:uppercase;color:white"><i>Appointment booking</i></h2></center>
                        <div class="row no-gutters align-items-center">
                            <div class="col-12 col-lg-9">
                                <div class="medilife-appointment-form">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="number" name="type" value="1" style="display:none">
                                        <div class="row align-items-end">
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control" id="speciality"name="speciality">
                                                        <option disabled selected>Select Specialist</option>
                                                        <option>General</option>
                                                        <option>Allergists</option>
                                                        <option>Cardiologists</option>
                                                        <option>Endocrinologists</option>
                                                        <option>Obstetrician 4</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control" id="doctors" name="doctors">
                                                        <option disabled selected>Select Doctor</option>
                                                        <option value="doctor_1">Doctor 1</option>
                                                        <option value="doctor_2">Doctor 2</option>
                                                        <option value="doctor_3">Doctor 3</option>
                                                        <option value="doctor_4">Doctor 4</option>
                                                        <option value="doctor_5">Doctor 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <input type="text" autocomplete="off" class="form-control" name="date" id="date" placeholder="Date">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <input type="text" autocomplete="off" class="form-control" name="time" id="time" placeholder="Time">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <input type="text" autocomplete="off" class="form-control border-top-0 border-right-0 border-left-0" name="name" id="name" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <input type="text" autocomplete="off" class="form-control border-top-0 border-right-0 border-left-0" name="number" id="number" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <input type="email" autocomplete="off" class="form-control border-top-0 border-right-0 border-left-0" name="email" id="email" placeholder="E-mail">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <div class="form-group mb-0">
                                                    <input name="problems" autocomplete="off" class="form-control mb-0 border-top-0 border-right-0 border-left-0" id="message" cols="30" rows="10" placeholder="symptoms">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-5 mb-0">
                                                <div class="form-group mb-0">
                                                    <input type="submit" class="btn medilife-btn">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="medilife-contact-info">
                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info mb-30">
                                        <img src="{%static 'img/icons/alarm-clock.png' %}" alt="">
                                        <p>Mon - Sat 08:00 - 21:00 <br>Sunday CLOSED</p>
                                    </div>
                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info mb-30">
                                        <img src="{%static 'img/icons/envelope.png' %}" alt="">
                                        <p>0080 673 729 766 <br>contact@business.com</p>
                                    </div>
                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info">
                                        <img src="{%static 'img/icons/map-pin.png'%}" alt="">
                                        <p>Lamas Str, no 14-18 <br>41770 Miami</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}